<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">

    <select [(ngModel)]="newTodo.priority" id="priority">
      <option value="" disabled selected>select a priority</option>
      <option *ngFor="let item of priorities" [value]="item" >{{item}}</option>
    </select>
  </header>
  <section class="main" *ngIf="todos.length >0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <label>{{todo.priority}}</label>
          <button class="destroy" (click)="removeTodo(todo)">Delete</button>
        </div>
      </li>
    </ul>
  </section>

  <section class="fromLocalStorage" *ngIf="todos.length >0">
    <ul class="todo-list-fromStorage">
      <label>From Local Storage</label>
      <li *ngFor="let todo of todosFromLocalStorage" [class.completed]="todo.complete">
        <div class="view">

          <label>{{todo.title}}</label>

        </div>
      </li>
    </ul>
  </section>

<footer class="footer" *ngIf="todos.length > 0">
  <span class="todo-count">
    <strong>{{todos.length}}</strong>
    {{todos.length == 1 ? 'item' : 'items'}} left

  </span>
</footer>

</section>
